<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>牧江科技</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/images/favicon.ico">
        <!-- App css -->
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/style.css?version=1.01.02" rel="stylesheet" type="text/css" />
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/modernizr.min.js"></script>

        <js file='__PUBLIC__/Uploadify/jquery-1.9.1.min.js'/>
        <js file='__PUBLIC__/Uploadify/jquery.uploadify.min.js'/>
        <!-- Bootstrap fileupload css -->
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>main.css?version=1.01.02" id="color-switcher-link">
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>animations.css">
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>fonts.css">

    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="#" class="logo">
                        <span>
                        <%$name%>
                        </span>
                        <i>

                        </i>
                    </a>
                </div>
                <nav class="navbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-user-o mr-0"></i> <span class="ml-1"><i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="text-overflow m-0">欢迎!</h6>
                                </div>

                                <!-- item-->
                                <!--a href="<%$smarty.const.__APP__%>/manager/saleinfo?token=<%$token%>&sale_id=<%$id%>" class="dropdown-item notify-item">
                                    <i class="fi-head"></i> <span>修改密码</span>
                                </a-->

                                <!-- item-->
                                <a href="<%$smarty.const.__APP__%>/login/logout" class="dropdown-item notify-item">
                                    <i class="fi-power"></i> <span>退出登陆</span>
                                </a>

                            </div>
                        </li>

                    </ul>
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="dripicons-menu"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">牧江科技</li>
                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/index">
                                    <i class="fa fa-desktop"></i> <span> 首页 </span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/search">
                                    <i class="fa fa-search"></i> <span> 搜索 </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-paw"></i> <span> 牧场管理 </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                	<li><a href="<%$smarty.const.__CONTROLLER__%>/chkshed">牧舍信息</a></li>
                                  <li><a href="<%$smarty.const.__CONTROLLER__%>/chkexitview1">离场信息</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-group"></i> <span> 员工管理 </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/chkworker">员工信息</a></li>
                                </ul>
                            </li>


                            <!--li>
                                <a href="#"><i class="fi-share"></i> <span> 开发中 </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level nav" aria-expanded="false">
                                    <li><a href="javascript: void(0);">开发中 1.1</a></li>
                                    <li><a href="javascript: void(0);" aria-expanded="false">开发中 1.2 <span class="menu-arrow"></span></a>
                                        <ul class="nav-third-level nav" aria-expanded="false">
                                            <li><a href="javascript: void(0);">开发中 2.1</a></li>
                                            <li><a href="javascript: void(0);">开发中 2.2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li-->

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -left -->
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <h3>编号:<%$ware['sn']%></h3>
                    <h3>性别:<%$ware['sex']%></h3>
                    <h3>品种:<%$ware['kind']%></h3>
                    <h3>类型:<%$ware['type']%></h3>
                    <h3>舍号:<%$ware['shedid']%></h3>
                    <h3>区域:<%$ware['area']%></h3>
                    <h3>栏号:<%$ware['fold']%></h3>
                    <h3>出生日期:<%$ware['birthday']%></h3>
                    <h3>出生重量:<%$ware['birthweight']%>斤</h3>
                    <h3>胎次:<%$ware['childnum']%></h3>
                    <h3>父亲编号:<%$ware['fathersn']%></h3>
                    <h3>母亲编号:<%$ware['mothersn']%></h3>
                    <h3>入场类型:<%$ware['entertype']%></h3>
                    <h3>入场日期:<%$ware['enterdate']%></h3>
                    <h3>入场来源:<%$ware['entersource']%></h3>
                    <h3>入场体重:<%$ware['leaveweight']%>斤</h3>
                    <h3>备注:<%$ware['info']%></h3>
                    <h3>照片:</h3>
                    <%foreach $filename as $file%>
                    <img src="<%$smarty.const.PUBLIC_ROOT_URL%>uploads/<%$file%>" alt="" height="300">
                    <%/foreach%>
                    <div >
                        <div class="clo-2 mt-2">
                            <button type="button" class="btn btn-prime" onclick="addware()">
                                继续添加
                            </button>
                        </div>
                        <div class="clo-2 mt-3">
                            <button type="button" class="btn btn-prime" onclick="checkware()">
                                返回首页
                            </button>
                        </div>
                    </div>
            </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
    </body>
        <footer class="footer text-right">
            2019 - 2020 © 牧江科技. - MJiang.com
        </footer>

<script type="text/javascript">
    function addware(){
    window.location.href="<%$smarty.const.__CONTROLLER__%>/chkshed";
    }

    function checkware(){
    window.location.href="<%$smarty.const.__CONTROLLER__%>/index";
    }
</script>
    <!-- jQuery  -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/popper.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/bootstrap.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/metisMenu.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/waves.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.slimscroll.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Bootstrap fileupload js -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>

    <!-- Chart JS -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/chart.js/chart.bundle.js"></script>

    <!-- init dashboard -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/pages/jquery.dashboard.init.js"></script>

    <!-- App js -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.core.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.app.js"></script>

    <script src="<%$smarty.const.AJS_URL%>compressed.js"></script>
    <script src="<%$smarty.const.AJS_URL%>main.js"></script>
</html>